software/WinX13/*
software/Genhol/*
software/X13Data/*
software/X13GraphJava/*
!software/WinX13/WinX13.zip
!software/Genhol/WinGenhol.zip
!software/X13Data/x13data-v2-0.zip
data/g/*
!data/g/Automobile dealers.gmt
data/**/*.spc
!data/retail/Automobile dealers.spc
data/**/*.html
data/**/*.txt
data/**/*.log
data/**/*.out
data/**/*.err
data/**/*.rog
data/**/*.sum
data/**/*.tbs
data/**/*.exe
data/**/*.udg
data/**/*.rmx
data/**/*.16
data/**/*.xml
data/**/*.xls
data/**/*.dll










