worksheets/worksheet-answers
software/WinX13/docs/DiagList.html
software/WinX13/docs/DiagList.html.bak
software/WinX13/exptreelib.dll
software/WinX13/Interop.Microsoft.Office.Core.dll
software/WinX13/Interop.VBIDE.dll
software/WinX13/JavaGraphics/censusx12/acfPlot.class
software/WinX13/JavaGraphics/censusx12/ForecastGraph.class
software/WinX13/JavaGraphics/censusx12/MultipleSeries.class
software/WinX13/JavaGraphics/censusx12/OriginalSeries.class
software/WinX13/JavaGraphics/censusx12/SeasonalFactors.class
software/WinX13/JavaGraphics/censusx12/SeasonalFactorsSI.class
software/WinX13/JavaGraphics/censusx12/spectrumPlot.class
software/WinX13/JavaGraphics/censusx12/x12graphs$1.class
software/WinX13/JavaGraphics/censusx12/x12graphs.class
software/WinX13/JavaGraphics/jcommon-1.0.8.jar
software/WinX13/JavaGraphics/jfreechart-1.0.4.jar
software/WinX13/JavaGraphics/snow.JPG
software/WinX13/JavaGraphics/Thumbs.db
software/WinX13/WinX12Interfaces.dll
software/WinX13/WinX13.exe
software/WinX13/WinX13.exe.config
software/WinX13/WinX13Config.xml
software/WinX13/x13as/x13as.exe
software/WinX13/x13as/x13ashtml.exe
software/X13GraphJava/lib/jcommon-1.0.23.jar
software/X13GraphJava/lib/jfreechart-1.0.19.jar
software/X13GraphJava/lib/swing-layout-1.0.4.jar
software/X13GraphJava/x12gapp.config
software/X13GraphJava/X13GraphJava.jar
